<div class="lendings">
  <div class="item" *ngFor="#item of items">
    <p>{{ 'ITEM_NAME' }}: {{lending.vendor}} {{lending.product}}</p>
    <div class="reservation" [class.selected]="selected[reservation.id]" *ngFor="#reservation of item.reservations" (click)="toggleSelected(item._id, reservation.id)">
      <p>{{ 'RESERVATION_START' }}: {{reservation.start}}</p>
      <p>{{ 'RESERVATION_END' }}: {{reservation.end}}</p>
    </div>
  </div>
</div>
<div class="menu">
  <button (click)="delete()">{{ 'DELETE' }}</button>
</div>
