* {
  font-family: sans-serif;
}

h1 {
  margin: 25px;
}

.item {
  border-radius: 10px;
  background: #EEEEEE;
  padding: 10px;
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 10px;
}

.selected {
  border-radius: 10px;
  background: #EEFFEE;
  padding: 10px;
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 10px;
}

.item>p {
  text-align: center;
}
