* {
  font-family: sans-serif;
}

h1 {
  margin: 25px;
  font-size: 30px;
}

.grid .item.selected {
  background: rgb(16,108,200);
  color: white;
}

.reservation.selected {
  background: rgb(16,108,200);
  color: white;
}

.grid .item {
  border-radius: 5px;
  background: #EEEEEE;
  padding: 10px;
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 10px;
  border: solid #DDDDDD 1px;
}

.lendings .item {
  border-radius: 5px;
  background: #FAFAFA;
  padding: 10px;
  margin: 10px;
  border: solid #DDDDDD 1px;
}

.reservation {
  border-radius: 2.5px;
  background: #EEEEEE;
  padding: 10px;
  margin: 10px;
  border: solid #DDDDDD 1px;
}

.disabled {
  border-radius: 10px;
  background: rgb(16,108,200);
  padding: 10px;
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 10px;
  color: red;
}

.item>p {
  text-align: center;
}

.item>img {
  max-width: 170px;
  max-height: 170px;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.menu>p {
  display: inline;
  width: 100px;
  margin: 10px;
}
.menu>input {
  display: inline;
  width: 150px;
  margin: 10px;
  text-align: right;
}
.menu>button {
  display: inline;
  width: 100px;
  margin: 10px;
}
.navbar-brand {
  font-size: 30px;
  font-weight: bold;
  color: rgb(150,0,0);
}
.navbar {}{
  background-color: rgb(200,210,220);
}
.loginForm73 {
  /*margin: auto;*/
  width: 350px;
  text-align: center;
  padding: 10px;
  background-color: rgb(200,210,220);
}
